<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @dis_manufacturer.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dis_manufacturer.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @dis_manufacturer.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @dis_manufacturer.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @dis_manufacturer.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @dis_manufacturer.state_id %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @dis_manufacturer.pin %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @dis_manufacturer.phone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @dis_manufacturer.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dis_manufacturer.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @dis_manufacturer.website %>
</p>

<p>
  <strong>Mobilephoe:</strong>
  <%= @dis_manufacturer.mobilephone %>
</p>

<p>
  <strong>Abbrev:</strong>
  <%= @dis_manufacturer.abbrev %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @dis_manufacturer.phone2 %>
</p>

<p>
  <strong>Release status:</strong>
  <%= @dis_manufacturer.release_status_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @dis_manufacturer.status_id %>
</p>

<%= link_to 'Edit', edit_dis_manufacturer_path(@dis_manufacturer) %> |
<%= link_to 'Back', dis_manufacturers_path %>
