<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @dis_therapueticgroup.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dis_therapueticgroup.name %>
</p>

<p>
  <strong>System:</strong>
  <%= @dis_therapueticgroup.system_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @dis_therapueticgroup.status_id %>
</p>

<%= link_to 'Edit', edit_dis_therapueticgroup_path(@dis_therapueticgroup) %> |
<%= link_to 'Back', dis_therapueticgroups_path %>
