<p id="notice"><%= notice %></p>

<h1>Dis Systems</h1>

<table id="example" class="table table-bordered table-hover table-striped datatable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @dis_systems.each do |dis_system| %>
      <tr>
        <td><%= dis_system.id %></td>
        <td><%= dis_system.name %></td>
        <td><%= dis_system.status_id %></td>
        <td><%= link_to 'Show', dis_system %>,<%= link_to 'Edit', edit_dis_system_path(dis_system) %>,<%= link_to 'Destroy', dis_system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dis System', new_dis_system_path %>
