<%= simple_form_for(@dis_route) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :abbrev %>
    <%= f.input :adverb %>
    <%= f.input :status_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save" %>
  </div>
<% end %>
