<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @dis_route.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dis_route.name %>
</p>

<p>
  <strong>Abbrev:</strong>
  <%= @dis_route.abbrev %>
</p>

<p>
  <strong>Adverb:</strong>
  <%= @dis_route.adverb %>
</p>

<p>
  <strong>Status:</strong>
  <%= @dis_route.status_id %>
</p>

<%= link_to 'Edit', edit_dis_route_path(@dis_route) %> |
<%= link_to 'Back', dis_routes_path %>
