<p id="notice"><%= notice %></p>

<p>
  <strong>Routed doseform generic:</strong>
  <%= @dis_dispensable_generic.routed_doseform_generic_id %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @dis_dispensable_generic.strength %>
</p>

<p>
  <strong>Strength doseunit:</strong>
  <%= @dis_dispensable_generic.strength_doseunit_id %>
</p>

<p>
  <strong>Per strength:</strong>
  <%= @dis_dispensable_generic.per_strength %>
</p>

<p>
  <strong>Per doseunit:</strong>
  <%= @dis_dispensable_generic.per_doseunit_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dis_dispensable_generic.name %>
</p>

<p>
  <strong>Release status:</strong>
  <%= @dis_dispensable_generic.release_status_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @dis_dispensable_generic.status_id %>
</p>

<p>
  <strong>Datasource:</strong>
  <%= @dis_dispensable_generic.datasource_id %>
</p>

<%= link_to 'Edit', edit_dis_dispensable_generic_path(@dis_dispensable_generic) %> |
<%= link_to 'Back', dis_dispensable_generics_path %>
