<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @dis_indiastate.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @dis_indiastate.name %>
</p>

<p>
  <strong>Abbrev:</strong>
  <%= @dis_indiastate.abbrev %>
</p>

<%= link_to 'Edit', edit_dis_indiastate_path(@dis_indiastate) %> |
<%= link_to 'Back', dis_indiastates_path %>
