<p id="notice"><%= notice %></p>

<p>
  <strong>Generic:</strong>
  <%= @dis_generic_contraceptive_interaction.generic_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dis_generic_contraceptive_interaction.description %>
</p>

<p>
  <strong>Datasource:</strong>
  <%= @dis_generic_contraceptive_interaction.datasource_id %>
</p>

<p>
  <strong>Statud:</strong>
  <%= @dis_generic_contraceptive_interaction.statud_id %>
</p>

<%= link_to 'Edit', edit_dis_generic_contraceptive_interaction_path(@dis_generic_contraceptive_interaction) %> |
<%= link_to 'Back', dis_generic_contraceptive_interactions_path %>
